################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/youtubebot/FileContentIndex/0e5465b5-2646-4fbc-8bf8-097a0880de5d.vsidx
/.vs/youtubebot/FileContentIndex/07b60549-53be-4d1a-897f-1c69478203de.vsidx
